@import url('admin.css');

.ScreenOnly {
	display: none;
}

/* Copyright information on the bottom of the page */
DIV#Copyright {	padding: 5px 1em; margin: 0; font-size: 10px; color: #606060; line-height: 1px; }
DIV#Logo { padding: 0; margin: 0; }

TR.odd TD { background-color: white; }
TR.even TD { background-color: #eeeeee; }
